<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Functions Pipeline</title>
</head>
<body>
<h1>Functions Pipeline</h1>
<ul>
    <li>{{.}}</li>
    <li>{{. | one}}</li>
    <li>{{. | one | two}}</li>
</ul>
</body>
</html>