<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Range - Slice</title>
</head>
<body>
<h1>Range - Slice</h1>
<ol>
    {{range .}}
    <li>{{.}}</li>
    {{end}}
</ol>
</body>
</html>